<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="caduser" method="Post">
      <label for="">Email</label>
      <input type="email" name="email">
      <label for="">Pass</label>
      <input type="password" name="password">
      <label for="">Pass 2</label>
      <input type="password" name="password2">
      <button>Cadastrar</button>
    </form>
    <% if (typeof msg !== 'undefined') { %>
       <span><%= msg %></span>
    <% } %>
  </body>
</html>
