<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (typeof user === 'undefined') { %>
    <a href="login">login</a>
    <br />
    <a href="caduser">cadastro</a>
    <br />
    <% } %>
    <% if (typeof user !== 'undefined') { %>
    <a href="logout">logout</a>
    <br />
    <a href="restrict">Veja O segrendo</a>
    <% } %>
  </body>
</html>
