<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="login" method="Post">
      <input type="email" name="email">
      <input type="password" name="password">
      <button>login</button>
    </form>
  </body>
</html>
