<!DOCTYPE html>
<html>
  <head>
    <% include includes/head %>
  </head>
  <body>
    <% include includes/logout %>
    <ul class="collection">
      <% users.forEach(function(user){ %>
        <li class="collection-item dismissable">
          <div>
            <%=user.email %>
            <%=user.password%>
            <a href="remove/<%=user._id %>" class='bnt' >
              remove
            </a>
          </div>
        </li>
      <%});%>
      <a class="btn" href="/">voltar</a>
  </body>
</html>
