<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
       <p>
          <%= user.email %>
       </p>
       <p>
          <%= user.password %>
       </p>
       <a href="/">
          <button type="submit">voltar</button>
       </a>
    </div>
  </body>
</html>
